.venv
.env
.idea
build
__pycache__
docker-compose.override.yml
*.log
*_cache.db
osw_chatbot.egg-info
osw_files
accounts.pwd.yaml
# Automatically added by osw.auth.CredentialManager.save_credentials_to_file:
*/Snippets/osw_files/*