fastapi>=0.115.2
requests>=2.32.3
uvicorn>=0.31.1
textract-py3>=2.1.0
duckduckgo_search>=6.3.3
playwright
crawl4ai

langchain-core
langchain-openai
langchain-ollama
langchain-text-splitters
langchain-community
langgraph
langchain-graphrag

chromadb==0.5.0 # https://github.com/chroma-core/chroma/issues/2513
tiktoken

panel>1.4.0